<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Project name</title>
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	</head>

	<body>
		<div class="container">

			<!-- Static navbar -->
			<nav class="navbar navbar-expand-lg bg-body-tertiary">
				<div class="container-fluid">
					<a class="navbar-brand" href="{{ url_for('index') }}">Project name</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div id="navbar" class="collapse navbar-collapse">
						<ul class="navbar-nav">
							<li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
							<li class="nav-item"><a class="nav-link" href="{{ url_for('query_item') }}">Query</a></li>
							<li class="nav-item"><a class="nav-link" href="{{ url_for('add_item') }}">Add</a></li>
						</ul>
					</div><!--/.nav-collapse -->
				</div><!--/.container-fluid -->
			</nav>

			<div class="p-5 mb-4 bg-body-tertiary rounded-3">

				{% block content %}
				{% endblock %}

				{% if error %}
					<p><strong>Error:</strong> {{ error }}</p>
				{% endif %}

				{% for message in get_flashed_messages() %}
					<p>{{ message }}</p>
				{% endfor %}

			</div>

		</div> <!-- /container -->

		<script src="/static/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
